.coffee-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.coffee {
    width: 200px;
    height: 200px;
}

ul {
    list-style: none;
}

@media (max-width: 768px) {
    .coffee-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 0px ;
        grid-gap: 50px;
    }

    .coffee {
        width: 100px;
        height: 100px;
    }
}