.coffee-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8em;
    justify-items: center;
    padding: 0 11rem;
}

.coffee {
    width: 175px;
    height: 175px;
}

ul {
    list-style: none;
}

@media (max-width: 768px) {
    .coffee-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 0px ;
        grid-gap: 50px;
    }

    .coffee {
        width: 130px;
        height: 130px;
    }
}